syn/bk0010-wxeda.asm.rpt
syn/bk0010-wxeda.done
syn/bk0010-wxeda.fit.rpt
syn/bk0010-wxeda.fit.smsg
syn/bk0010-wxeda.fit.summary
syn/bk0010-wxeda.flow.rpt
syn/bk0010-wxeda.jdi
syn/bk0010-wxeda.map.rpt
syn/bk0010-wxeda.map.smsg
syn/bk0010-wxeda.map.summary
syn/bk0010-wxeda.pin
#syn/bk0010-wxeda.sof
syn/bk0010-wxeda.sta.rpt
syn/bk0010-wxeda.sta.summary
source/db
syn/db/*
syn/greybox_tmp
syn/greybox_tmp/*
syn/incremental_db
syn/incrementa_db/*
syn/bk0010-wxeda.map
syn/bk0010-wxeda.qws
bk0010-wxeda.qws
*.ghw
*.cf
.DS_Store

